# Arquivos gerados
*.pyc
db.sqlite3

# Arquivos de configuração
.env
.local.env

# Diretórios de cache e pacotes
__pycache__/
/node_modules/
/bower_components/
/venv/
/env/

# Logs
*.log

# Mídia e arquivos estáticos
/static/
/media/

# Exceções
!/debug_toolbar